In [ ]:
variable= "Instalación Exitosa"
print("lo hemos logrado",variable, "podemos empezar a aprender y asi mejorar =) ")

In [1]:
parsecs = 11
lightyears = parsecs * 3.26
print(str(parsecs) + " parsecs is " + str(lightyears) + " lightyears")

11 parsecs is 35.86 lightyears

In [4]:
parsecs_input = input("Ingrese el numero de parsecs: ")
parsecs = int(parsecs_input)
lightyears = parsecs * 3.26
print( parsecs_input + " parsecs is " + str(lightyears) + " lightyears")

In [1]:
planets_in_solar_system = 8 # int, pluto used to be the 9th planet, but is too small
distance_to_alpha_centauri = 4.367 # float, lightyears
can_liftoff = True
shuttle_landed_on_the_moon = "Apollo 11" #string

In [3]:
from datetime import date
date.today()
print(date.today())
print("Today's date is: " + str(date.today()))

2023-09-10
Today's date is: 2023-09-10

In [1]:
print("1"+2)

TypeError: can only concatenate str (not "int") to str